<%= render @query_task %>
<%= link_to 'Edit', edit_query_task_path(@query_task), class: "btn btn-warning" %>
<%= link_to 'Back', query_tasks_path, class: "btn btn-default" %>
<%= link_to 'Solve', new_solution_path(query_task_id: @query_task.id), class: "btn btn-primary" %>

<h2>Solutions</h2>
<% if @query_task.solutions.any? && !@query_task.solved_by(current_user) %>
  <div class="btn btn-info" onclick="$('.jq_solutions').slideToggle();"">Show solutions</div>
<% end %>
<div class="jq_solutions" style='<%= @query_task.solved_by(current_user) ? "" : "display: none;" %>'>
  <% @query_task.solutions.each do |solution| %>
    <h4><%= solution.user.email %></h4>
    <pre><%= solution.code %></pre>
    <%= link_to "Run", run_solution_path(id: solution.id), class: "btn btn-primary btn-sm", remote: true %>
    <div class="btn btn-default" onclick="$('.solution-<%= solution.id %>').empty();">cls</div>
    <% if solution.user == current_user %>
      <%= link_to "Edit", edit_solution_path(solution), class: "btn btn-warning btn-sm" %>
      <%#= link_to 'Destroy', solution, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
    <% end %>
    <div class="solution-<%= solution.id %>"></div>
  <% end %>
</div>

<h2>Comments</h2>
<div class="jq_comments">
  <% @query_task.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
  <%= render 'comments/form' %>